.login-popup-component .login-popup-content {
  width: 300px;
  top: 200px;
  padding: 15px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-popup-component .login-popup-content .login-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d1d1d1;
}

.login-popup-component .login-popup-content .login-popup-close > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 100%;
  margin: 0 auto;
}

.login-popup-component .login-popup-content .login-popup-close > div svg {
  width: 10px;
}

.login-popup-component .login-popup-content .login-popup-close > div svg path {
  fill: #fff;
}

.login-popup-component .login-popup-content .login-popup-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  margin: 0 auto 20px;
  color: #4589c8;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
}

.login-popup-component .login-popup-content .login-popup-icon svg {
  width: 35px;
}

.login-popup-component .login-popup-content .login-popup-note {
  margin-bottom: 20px;
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.login-popup-component .login-popup-content .login-popup-note span {
  font-weight: 700;
  font-style: normal;
  color: #4589c8;
  margin: 0 5px;
}

.login-popup-component .login-popup-content .login-popup-note span.login-focus {
  cursor: pointer;
}

.login-popup-component .login-popup-content .login-popup-button {
  font-weight: 600;
  font-style: normal;
  padding: 0 20px;
  color: #fff;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  background-color: #4589c8;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-shadow: none;
  width: 140px;
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
}

.login-popup-component .login-popup-content .login-popup-icon {
  color: #49b3b5;
}

.login-popup-component .login-popup-content .login-popup-icon svg path {
  fill: #49b3b5;
}

.login-popup-component .login-popup-content .login-popup-note span {
  color: #49b3b5;
}

.login-popup-component .login-popup-content .login-popup-button {
  background-color: #49b3b5;
}

.login-popup-component .login-popup-content .login-popup-icon {
  color: #4786f7;
}

.login-popup-component .login-popup-content .login-popup-icon svg path {
  fill: #4786f7;
}

.login-popup-component .login-popup-content .login-popup-note span {
  color: #4786f7;
}

.login-popup-component .login-popup-content .login-popup-button {
  background-color: #4786f7;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-container .pagination-item {
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  height: 28px;
  margin: auto 4px;
  color: #000;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 4px;
  line-height: 1.43;
  font-size: 12px;
  min-width: 28px;
}

.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}

.pagination-container .pagination-item:hover {
  background-color: #4589c8;
  color: #fff;
  cursor: pointer;
}

.pagination-container .pagination-item:hover .arrow:before {
  border-right: 0.12em solid #fff;
  border-top: 0.12em solid #fff;
}

.pagination-container .pagination-item.selected {
  background-color: #4589c8;
  color: #fff;
}

.pagination-container .pagination-item .arrow:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
  position: relative;
  left: -2px;
}

.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}

.pagination-container .pagination-item.disabled .arrow:before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  border-right: 0.12em solid #fff;
  border-top: 0.12em solid #fff;
  cursor: default;
}

.pagination-container .pagination-item.selected,
.pagination-container .pagination-item:hover {
  background-color: #49b3b5;
}

.pagination-container .pagination-item.selected,
.pagination-container .pagination-item:hover {
  background-color: #4786f7;
}

.loading-component {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.loading-component .loading-icon {
  display: block;
  width: 30px;
  height: 30px;
}

.loading-component .loading-note {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #4589c8;
}

.loading-component .loading-icon {
  border-top: 3px solid #49b3b5;
}

.loading-component .loading-note {
  color: #49b3b5;
}

.loading-component {
  background-color: #242e41;
}

.loading-component .loading-icon {
  border-top: 3px solid #fffa9f !important;
}

.loading-component .loading-note {
  color: #fffa9f;
}

.bet-history-popup-component .main-bet-history {
  width: 1000px;
  top: 30px;
}

.bet-history-popup-component .main-bet-history .group-history-content {
  padding: 0 15px;
}

.bet-history-popup-component .main-bet-history .bet-history-search {
  display: flex;
  margin-bottom: 8px;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .not-found-tb {
  margin: 60px;

  font-weight: 600;
  font-style: normal;
  color: #000;
  font-size: 12px;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .tb-header {
  flex: 1 1 0%;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  color: #fff;

  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  justify-content: center;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .tb-header.medium-tb {
  flex: 2 1 0%;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .tb-header.big-tb {
  flex: 3 1 0%;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .history-header-title {
  display: flex;
  height: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.history-main-content {
  border: 1px solid #e9e9e9;
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.history-main-content .loading-component {
  min-height: 500px !important;
}

.history-main-content .group-content-td {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
  line-height: 20px;
}

.history-main-content .group-content-td.tb-bg-odd {
  background-color: #eef4fa;
}

.history-main-content .group-content-td .td-date-time {
  flex: 1 1 0% !important;
  padding: 0 5px;
  flex-direction: column;
  color: rgba(161, 115, 115, 0.5);
  font-size: 13px;
}

.history-main-content .group-content-td .td-date-time .place-date {
  opacity: 1;
  color: rgba(0, 0, 0, 0.7);
}

.history-main-content .group-content-td .td-date-time .td-col.td-bold {
  padding: 0;
}

.history-main-content .group-content-td .td-match-time {
  flex: 3 1 0% !important;
  padding: 0 5px;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.history-main-content .group-content-td .td-match-time .td-league-name {
  font-size: 13px;
}

.history-main-content .group-content-td .td-match-time .td-event-displayname {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-style: normal;
}

.history-main-content .group-content-td .td-match-time .td-event-market-name {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}

.history-main-content .group-content-td .td-col {
  display: flex;
  flex: 1;
  padding: 0 5px;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.history-main-content .group-content-td .td-num {
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-style: normal;
  color: #000;
}

.history-main-content .group-content-td .td-num.status-won {
  color: #2fb05b;
}

.history-main-content .group-content-td .td-num.status-draw {
  color: #4589c8;
}

.history-main-content .group-content-td .td-num.status-void {
  color: #ffa113;
}

.history-main-content .group-content-td .td-num.status-lost {
  color: #f13030;
}

.history-main-content .group-content-td .td-starttime {
  opacity: 1;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.history-main-content .group-content-td .td-col-style {
  flex: 1 1 0%;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.history-main-content .group-content-td .td-col-style.td-flex-row {
  flex-direction: row !important;
}

.history-main-content .group-content-td .td-col-style.td-flex-row span {
  display: inline-block;
}

.history-main-content
  .group-content-td
  .td-col-style.td-flex-row
  span.lb-money {
  margin-left: 2px;
}

.history-main-content .group-content-td .td-highlight {
  color: #f13030;
}

.history-main-content .group-content-td .td-finalscore {
  font-size: 13px;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.history-main-content .group-content-td .td-finalscore .td-score {
  font-weight: 700;
  font-style: normal;
  color: rgba(0, 0, 0, 0.9);
}

.td-status {
  font-style: normal;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  min-width: 50px;
}

.td-status.Half.Won,
.td-status.Won {
  color: #2f9e1c;
  background-color: #e8ffe4;
  border: 1px solid #7cd56e;
}

.td-status.Half.Lost,
.td-status.Lost {
  color: #f32f1c;
  background-color: #ffdfdc;
  border: 1px solid #ff9e95;
}

.td-status.Draw {
  color: #4589c8;
  border: 1px solid #4589c8;
  background-color: #c6e1f9;
}

.td-status.Cashout,
.td-status.Settled,
.td-status.Void {
  color: #ffa113;
  border: 1px solid #ffa113;
  background-color: #fff6de;
}

.td-status.Active,
.td-status.Open {
  color: #4589c8;
  border: 1px solid #4589c8;
  background-color: #c6e1f9;
}

.td-status.Cancelled,
.td-status.Unsuccess {
  color: #f7ab13;
  border: 1px solid #f7ab13;
}

.bet-history-popup-component
  .main-bet-history
  .bet-history-popup-content
  .not-found-tb {
  color: #fff;
}

.history-main-content .group-content-td.tb-bg-odd {
  background-color: #eef4fa;
}

.history-main-content .group-content-td .td-date-time {
  color: #b9bec5;
}

.history-main-content .group-content-td .td-date-time .place-date {
  opacity: 1;
  color: #b9bec5;
}

.history-main-content .group-content-td .td-col,
.history-main-content .group-content-td .td-match-time,
.history-main-content .group-content-td .td-match-time .td-event-displayname,
.history-main-content .group-content-td .td-match-time .td-event-market-name {
  color: #b9bec5;
}

.history-main-content .group-content-td .td-num {
  color: #fffa9f;
}

.history-main-content .group-content-td .td-num.status-won {
  color: #2fb05b;
}

.history-main-content .group-content-td .td-num.status-draw {
  color: #4589c8;
}

.history-main-content .group-content-td .td-num.status-void {
  color: #ffa113;
}

.history-main-content .group-content-td .td-num.status-lost {
  color: #f32f1c;
}

.history-main-content .group-content-td .td-starttime {
  color: #b9bec5;
}

.history-main-content .group-content-td .td-highlight {
  color: #f32f1c;
}

.history-main-content .group-content-td .td-status {
  font-style: normal;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
}

.history-main-content .group-content-td .td-status.Half.Won,
.history-main-content .group-content-td .td-status.Won {
  color: #2f9e1c;
  background-color: #e8ffe4;
  border: 1px solid #7cd56e;
}

.history-main-content .group-content-td .td-status.Half.Lost,
.history-main-content .group-content-td .td-status.Lost {
  color: #f32f1c;
  background-color: #ffdfdc;
  border: 1px solid #ff9e95;
}

.history-main-content .group-content-td .td-status.Draw {
  color: #4589c8;
  border: 1px solid #4589c8;
  background-color: #c6e1f9;
}

.history-main-content .group-content-td .td-status.Void {
  color: #ffa113;
  border: 1px solid #ffa113;
  background-color: #fff6de;
}

.history-main-content .group-content-td .td-status.Active,
.history-main-content .group-content-td .td-status.Open {
  color: #4589c8;
  border: 1px solid #4589c8;
  background-color: #c6e1f9;
}

.history-main-content .group-content-td .td-status.Cancelled,
.history-main-content .group-content-td .td-status.Unsuccess {
  color: #f7ab13;
  border: 1px solid #f7ab13;
}

.history-main-content .group-content-td .td-finalscore,
.history-main-content .group-content-td .td-finalscore .td-score {
  color: #b9bec5;
}

.parlay-option-child {
  display: flex;
  padding: 0 5px;
  flex-direction: column;
  font-size: 13px;
  flex: 3 1 0% !important;
}

.parlay-option-child .option-header {
  display: flex;
  flex: 1;
  padding: 0 5px;
  flex-direction: column;
  font-size: 13px;
}

.parlay-option-child .option-header .option-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.parlay-option-child .option-header .option-title .icon-arrow {
  margin-left: -5px;
}

.parlay-option-child .option-header .option-title .icon-arrow span {
  border-right: 1px solid #4589c8;
  border-bottom: 1px solid #4589c8;
}

.parlay-option-child .option-header .option-title .option-name {
  font-weight: 600;
  font-style: normal;
  color: #4589c8;
}

.parlay-option-child .option-header .option-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.parlay-option-child .option-header .option-info .info-odd {
  font-weight: 600;
  font-style: normal;
  margin-left: 4px;
}

.parlay-option-child .group-bet-parlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #fff8f6;
}

.parlay-option-child .group-bet-parlay .each-parlay-item {
  padding: 8px;
  background-color: #fff8f6;
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parlay-option-child .group-bet-parlay .each-parlay-item.last-child {
  border-bottom: 0;
}

.parlay-option-child .group-bet-parlay .each-parlay-item .parlay-item-title {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-title {
  font-weight: 600;
  font-style: normal;
  margin-bottom: 5px;
  font-size: 15px;
  color: #4589c8;
  text-align: left;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content {
  border-left: 3px solid #4589c8;
  padding-left: 8px;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content
  .item-content-title {
  color: #797979;

  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 3px;
  text-align: left;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content
  .item-content-detail {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content
  .item-content-detail
  .rate {
  color: rgba(0, 0, 0, 0.7);

  font-weight: 600;
  font-style: normal;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content
  .item-content-detail
  .result {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-size: 13px;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content
  .item-content-detail
  .displayOdds {
  color: rgba(0, 0, 0, 0.8);

  font-weight: 600;
  font-style: normal;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .match-info
  .league-name {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
  margin-top: 3px;
  text-transform: uppercase;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .match-info
  .match-name {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-style: normal;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .match-info
  .team-id {
  font-size: 11px;
  color: #626262;
}

.parlay-option-child .group-bet-parlay .each-parlay-item .parlay-item-status {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.parlay-option-child .option-header .option-title .icon-arrow span {
  border-right: 1px solid #49b3b5;
  border-bottom: 1px solid #49b3b5;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-title,
.parlay-option-child .option-header .option-title .option-name {
  color: #49b3b5;
}

.parlay-option-child
  .group-bet-parlay
  .each-parlay-item
  .parlay-item-title
  .item-content {
  border-left: 3px solid #49b3b5;
}

.history-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 15px;
  min-height: 20px;
}

.visibility-hidden .group-bet-parlay {
  display: none !important;
}

.bet-setting-popup-component .main-bet-setting {
  width: 600px;
  top: 30px;
}

.bet-setting-popup-component .main-bet-setting .icon-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  margin: 0 auto 30px;
  transition: all 0.3s ease-out 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
}

.bet-setting-popup-component .main-bet-setting .icon-setting svg {
  width: 40px;
}

.bet-setting-popup-component .main-bet-setting .display-quickly {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.bet-setting-popup-component .main-bet-setting .option-select-box {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

.bet-setting-popup-component .main-bet-setting .title-setting {
  font-weight: 600;
  font-style: normal;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-size: 13px;
}

.bet-setting-popup-component .main-bet-setting .select-box-component {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 5px;
}

.bet-setting-popup-component .main-bet-setting .display-league .group-league {
  border: 1px solid #d2d3d5;
  border-radius: 3px;
}

.bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .header-league {
  display: flex;
  align-items: center;
  padding: 10px;
}

.bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .header-league
  input {
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #d2d3d5;
  margin-right: 20px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .wrap-checkbox-league {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px;
}

.bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .wrap-checkbox-league
  .each-item-league {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .wrap-checkbox-league
  .each-item-league
  .cb-title {
  min-height: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
}

.bet-setting-popup-component .main-bet-setting .group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.bet-setting-popup-component .main-bet-setting .group-btn .btn {
  padding: 0 20px;

  font-weight: 600;
  font-style: normal;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
  cursor: pointer;
  line-height: 35px;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-shadow: none;
  margin-right: 20px;
  border: 1px solid #4589c8;
  height: 35px;
  min-width: 140px;
}

.bet-setting-popup-component .main-bet-setting .group-btn .btn.btn-reset {
  color: #4589c8;
}

.bet-setting-popup-component .main-bet-setting .group-btn .btn.btn-save {
  color: #fff;
}

.search-popup-component {
  position: relative;
}

.search-popup-component .btn-close-search {
  position: absolute;
  z-index: 100;
  top: 55px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-popup-component .btn-close-search .icon-close {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-popup-component .btn-close-search .icon-close svg {
  width: 13px;
}

.search-popup-component .btn-close-search span {
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 14px;
}

.search-popup-component .search-popup-content {
  width: 650px;
  position: absolute;
  top: 100px;
  left: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 50px;
}

.search-popup-component .search-popup-content .search-popup-input {
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  justify-content: center;
  align-items: center;
}

.search-popup-component .search-popup-content .search-popup-input .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  margin-left: 10px;
}

.search-popup-component
  .search-popup-content
  .search-popup-input
  .search-icon
  svg {
  width: 18px;
}

.search-popup-component
  .search-popup-content
  .search-popup-input
  .search-icon
  svg
  path {
  fill: #4589c8;
}

.search-popup-component .search-popup-content .search-popup-input input {
  flex: 10 1 0%;
  height: 50px;
  border: none;
  outline: none;
  margin: 0;
  font-size: 13px;

  font-weight: 600;
  font-style: normal;
  text-align: left;
  color: #838383;
  padding: 0 10px;
}

.search-popup-component
  .search-popup-content
  .search-popup-input
  .search-popup-btn {
  padding: 0 30px;
  background-color: #4589c8;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-popup-component
  .search-popup-content
  .search-popup-input
  .search-popup-btn
  .search-title {
  color: #fff;
  font-size: 13px;

  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.search-popup-component .search-popup-content .search-popup-result {
  background-color: #fff;
  padding-top: 20px;
  border-top: 1px solid #e9ebee;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 4px;
  margin-top: 3px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result {
  padding-bottom: 10px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-leaguge {
  padding: 0 20px;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #000;

  font-weight: 600;
  color: rgba(0, 2, 4, 0.4);
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group {
  padding: 0 10px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  min-height: 30px;
  display: flex;
  align-items: center;
  color: #000;

  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item.item-event
  span.lb-event {
  margin-right: 5px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item.item-event
  span.lb-time {
  margin-left: 5px;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item.item-event
  span.lb-live {
  margin-left: 5px;
  background-color: #ff5050;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  font-size: 9px;
  font-style: italic;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item:hover {
  background-color: #d7e2f5;
}

.search-popup-component
  .search-popup-content
  .search-popup-result
  .result-not-found {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.search-popup-component .wrapper-search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 51, 57, 0.8);
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}

@keyframes wait {
  12.5% {
    background-position: -4px, -4px, -4px, -4px, -4px, -4px, -4px, -4px, -4px,
      -4px, 0, 0;
  }

  25% {
    background-position: -4px, -4px, -4px, -4px, -4px, -4px, -4px, -4px, 0, 0,
      6px, 6px;
  }

  37.5% {
    background-position: -4px, -4px, -4px, -4px, -4px, -4px, 0, 0, 6px, 6px,
      12px, 12px;
  }

  50% {
    background-position: -4px, -4px, -4px, -4px, 0, 0, 6px, 6px, 12px, 12px,
      -4px, -4px;
  }

  62.5% {
    background-position: -4px, -4px, 0, 0, 6px, 6px, 12px, 12px, -4px, -4px,
      -4px, -4px;
  }

  75% {
    background-position: 0, 0, 6px, 6px, 12px, 12px, -4px, -4px, -4px, -4px,
      -4px, -4px;
  }

  87.5% {
    background-position: 6px, 6px, 12px, 12px, -4px, -4px, -4px, -4px, -4px,
      -4px, -4px, -4px;
  }

  to {
    background-position: 12px, 12px, -4px, -4px, -4px, -4px, -4px, -4px, -4px,
      -4px, -4px, -4px;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0;
  }

  to {
    background-position: 500px 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes notification-animate {
  0% {
    transform: translateY(0);
  }

  22.22222222222222% {
    transform: translateY(-22px);
  }

  50% {
    transform: translateY(-22px);
  }

  72.22222222222221% {
    transform: translateY(-44px);
  }

  to {
    transform: translateY(-44px);
  }
}

.animatedFlash {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedFlash.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animatedFlash.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@keyframes flash {
  0%,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.2;
  }
}

.flash {
  animation-name: flash;
  animation-iteration-count: infinite;
}

@keyframes match-move-top {
  0% {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes match-move-top {
  0% {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-color-bg {
  background-color: #4589c8 !important;
}

.home-container .wrapper-header {
  background-color: #f4fefe;
}

.home-container .bet-slip-type,
.home-container .scroll-top {
  background-color: #49b3b5;
}

.home-container .bet-slip-empty {
  background-color: #fff;
}

.home-container .bet-slip-empty .group-bet-slip-empty {
  background-color: #e8fefe;
}

.home-container .bet-slip-empty .bet-empty-content {
  color: #626262;
}

.home-container .bet-slip-value {
  background-color: #fff;
}

.home-container .bet-slip-value .bet-slip-content {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .bet-slip-value .bet-slip-content .bet-slip-header {
  background-color: #e8fefe;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-title {
  color: #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content {
  border-left: 3px solid #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-match {
  color: #000;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .ratio {
  color: rgba(0, 0, 0, 0.7);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .result {
  color: rgba(0, 0, 0, 0.4);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .truss {
  color: rgba(0, 0, 0, 0.8);
}

.home-container .bet-slip-value .bet-slip-content .bet-slip-info .content-team {
  color: rgba(0, 0, 0, 0.6);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-info
  .content-league {
  color: rgba(0, 0, 0, 0.5);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .lb-money {
  color: #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input {
  border: 1px solid #d8d8d8;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .border-input
  input {
  color: #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .clear-bet-input {
  background-color: #ececec;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .clear-bet-input
  > svg
  path {
  fill: #999;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment {
  background-color: #f5f5f5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment.payment-hight-light
  .val-payment {
  color: #2f9e1c !important;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment
  .lb-payment {
  color: #626262;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment
  .val-payment {
  color: #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment {
  background-color: #093;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment
  .ref-money,
.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment
  .ref-payment {
  color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-cancel {
  color: #49b3b5;
  background-color: #fff;
  border: 1px solid #49b3b5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-bet-now {
  background-color: #49b3b5;
  color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-hover:hover {
  opacity: 0.9;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .bet-slip-value .bet-slip-content .accept-better-odds {
  color: #000;
}

.home-container .bet-slip-value .bet-slip-content .accept-better-odds span {
  border: 1px solid #49b3b5;
  background-color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .accept-better-odds
  span:before {
  border: solid #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .accept-better-odds
  input[type="checkbox"]:checked
  + span {
  background-color: #49b3b5;
}

.home-container .bet-slip-table .group-bet-tab {
  border-bottom: 1px solid #e5e5e5;
}

.home-container .bet-slip-table .group-bet-tab .bet-slip-tab {
  color: #aab8c5;
}

.home-container .bet-slip-table .group-bet-tab .bet-slip-tab.bet-tab-active {
  color: #49b3b5;
}

.home-container .bet-slip-table .bet-table-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-container .bet-slip-table .bet-table-content .bet-item-component {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting {
  border: 1px solid #fff8d6;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting.bet-border-cancel {
  border: 1px solid #cd414e !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting.bet-border-success {
  border: 1px solid #49b3b5 !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title {
  background-color: #fff8d6;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-title {
  color: #ff8a00;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-content {
  border-left: 3px solid #ff8a00;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-content
  .item-content-title {
  color: #000 !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-money
  .team-bet {
  color: #ff8a00;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title {
  background-color: #fff0ed;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-title {
  color: #cd414e;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-content {
  border-left: 3px solid #cd414e;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-content
  .item-content-title {
  color: #000 !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-money
  .team-bet {
  color: #cd414e;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title {
  background-color: #e8fefe;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-title {
  color: #49b3b5;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content {
  border-left: 3px solid #49b3b5;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-title {
  color: #000 !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .ratio {
  color: rgba(0, 0, 0, 0.7);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .result {
  color: rgba(0, 0, 0, 0.4);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .truss {
  color: rgba(0, 0, 0, 0.8);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-match {
  color: rgba(0, 0, 0, 0.6);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-id {
  color: #626262;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-bet {
  color: #49b3b5;
}

.home-container .bet-slip-table .bet-table-content .message {
  color: rgba(0, 0, 0, 0.8);
}

.home-container .bet-slip-table .bet-table-content .message-info.message-open {
  background-color: #d0e6f5;
  border: 1px solid #49b3b5;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .message-info.message-cancel {
  background-color: #fdeeed;
  border: 1px solid #cd414e;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-slip-waiting
  .waiting-text {
  color: #ff8a00;
}

.home-container .loading-placeholder-bet-slip .placeholder-wrap-item {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .error-bet-message {
  background-color: #fff;
}

.home-container .error-bet-message div {
  border: 1px solid #f13030;
  color: #f13030;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .success-icon {
  background-color: #49b3b5;
}

.home-container .success-icon .success-icon-left,
.home-container .success-icon .success-icon-right {
  background-color: #fff;
}

.home-container .cancel-icon {
  background-color: #cd414e;
}

.home-container .cancel-icon .cancel-icon-left,
.home-container .cancel-icon .cancel-icon-right {
  background-color: #fff;
}

.home-container .bet-message-status.message-status-open {
  color: #49b3b5;
}

.home-container .bet-message-status.message-status-cancel {
  color: #cd414e;
}

.home-container .radio-accept-odds [type="radio"]:checked + label:before,
.home-container .radio-accept-odds [type="radio"]:not(:checked) + label:before {
  border: 1px solid #49b3b5;
  background-color: #fff;
}

.home-container .radio-accept-odds [type="radio"]:checked + label:after,
.home-container .radio-accept-odds [type="radio"]:not(:checked) + label:after {
  content: "";
  background-color: #49b3b5;
}

.home-container .sport-menu-container .sport-menu-title {
  background-color: #e8fefe;
}

.home-container .sport-menu-container .sport-menu-title > div {
  color: #fff;
  background-color: #49b3b5;
}

.home-container .sport-menu-container .sport-menu-tab {
  background-color: #49b3b5;
}

.home-container .sport-menu-container .sport-menu-tab .period-item {
  color: hsla(0, 0%, 100%, 0.4);
}

.home-container
  .sport-menu-container
  .sport-menu-tab
  .period-item.active-period {
  color: #fff;
}

.home-container
  .sport-menu-container
  .sport-menu-tab
  .period-item.active-period:before {
  background-color: #fff;
}

.home-container .sport-menu-container .sport-menu-tab .period-item:hover {
  color: #fff;
}

.home-container .sport-type-item {
  background-color: #fff;
  padding: 4px;
}

.home-container .sport-type-item.active-type .sport-item-header,
.home-container .sport-type-item:hover .sport-item-header {
  background-color: #e8fefe;
}

.home-container .sport-item-content li {
  color: #000;
}

.home-container .sport-item-content li.active-market,
.home-container .sport-item-content li:hover {
  color: #49b3b5;
}

.home-container .sport-item-content li .sp-active {
  border-left: 5px solid #49b3b5;
}

.home-container .tooltip-header {
  background-color: #4ca3a4;
}

.home-container .bg-white {
  background-color: #fff;
}

.home-container .bg-primary {
  background-color: #d0e6f5;
}

.home-container .main-color {
  color: #49b3b5;
}

.home-container .main-betmore-bg {
  background-color: #278385;
}

.home-container .market-bg {
  background-color: #49b3b5;
}

.home-container
  .correct-score-component
  .correct-score-group
  .correct-score-header
  .score-list-header
  .score-column
  .score-header-item,
.home-container .match-header-detail .match-detail-bottom .detail-row {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.home-container .match-header-detail .match-detail-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.home-container
  .out-right-component
  .out-right-group
  .out-right-header
  .out-right-header-item {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.home-container .color-league-title {
  color: #fff !important;
}

.home-container .bg-color-or {
  background-color: #f5f5f5;
}

.home-container .bg-color-fad {
  background-color: #fff8f6;
}

.home-container .bg-color-ef {
  background-color: #ffeae7;
}

.home-container .color-hightlight {
  color: #bf1616 !important;
}

.home-container .color-team-hight-light {
  color: #000 !important;
}

.home-container .color-black {
  color: rgba(0, 0, 0, 0.8);
}

.home-container .color-is-markove {
  color: #000 !important;
}

.home-container .style-header-child {
  color: #000 !important;
  background-color: #eef8f8 !important;
}

.home-container .bg-score-header {
  background-color: #e8fefe;
}

.home-container .icon-arrow {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.home-container .icon-arrow span {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.home-container .group-message-content .group-message-search {
  border-bottom: 2px solid #49b3b5;
}

.home-container .wrap-checkbox .checkbox {
  border: 1px solid #49b3b5;
  background-color: #fff;
}

.home-container .wrap-checkbox .checkbox.cb-checked {
  background-color: #49b3b5;
}

.home-container .btn-save {
  border: 1px solid #49b3b5 !important;
}

.home-container
  .correct-score-component
  .correct-score-group
  .match-component
  .merge-bet-more-score
  .betmore-score {
  border: 1px solid #49b3b5 !important;
  background-color: #49b3b5;
}

.home-container .btn-cancel,
.home-container .btn-reset {
  color: #49b3b5 !important;
  border: 1px solid #49b3b5 !important;
}

.home-container .bet-confirm-component .confirm-payment-info {
  background-color: #f5f5f5;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info
  .payment-title {
  color: #626262;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info
  .payment-money {
  color: #49b3b5;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info.no-border-bt {
  margin-bottom: 0;
}

.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon {
  background-color: #49b3b5;
}

.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon
  .message-icon-left,
.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon
  .message-icon-right {
  background-color: #fff;
}

.home-container .bet-confirm-component .btn-group-confirm .btn-cancel {
  color: #49b3b5;
  background-color: #fff;
  border: 1px solid #c5d5e4;
}

.home-container .bet-confirm-component .btn-group-confirm .btn-bet {
  background-color: #49b3b5;
  color: #fff;
  outline: none;
}

.home-container .icon-favorite svg path {
  fill: #73ddde;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info {
  background-color: #e8fefe;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .market-name {
  color: #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match {
  border-left: 3px solid #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-name {
  color: #000;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .ratio {
  color: rgba(0, 0, 0, 0.7);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .result {
  color: rgba(0, 0, 0, 0.4);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .odd-val-bet {
  color: rgba(0, 0, 0, 0.8);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .lb-money {
  color: #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input {
  border: 1px solid #d8d8d8;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .border-input
  div,
.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .border-input
  input {
  color: #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .clear-bet-input {
  background-color: #ececec;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .clear-bet-input
  > svg
  path {
  fill: #999;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-bet-money
  .btn-money {
  background-color: #e8fefe;
  border: 1px solid #49b3b5;
  color: #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-bet-money
  .btn-max-money {
  background-color: #093;
  color: #fff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap {
  background-color: #f5f5f5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap
  .payment-tilte {
  color: #626262;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap
  .payment-money {
  color: #49b3b5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-btn-bet
  .btn-cancel-bet {
  color: #49b3b5;
  background-color: #fff;
  border: 1px solid #c5d5e4;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-btn-bet
  .bet-payment {
  background-color: #49b3b5;
  color: #fff;
}

.home-container
  .search-popup-component
  .search-popup-content
  .search-popup-input
  .search-icon
  svg
  path {
  fill: #49b3b5;
}

.home-container
  .search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item:hover {
  background-color: #f4fefe;
}

.home-container .color-warning,
.home-container .lb-warning {
  color: #bf1616 !important;
}

.home-container .loader-facebook {
  animation: wait 0.8s step-start infinite;
  background: linear-gradient(
      0deg,
      #cbefef 1px,
      transparent 0,
      transparent 8px,
      #cbefef 0
    ),
    linear-gradient(90deg, #cbefef 1px, #f4fefe 0, #f4fefe 3px, #cbefef 0),
    linear-gradient(
      0deg,
      #e0f6f6 1px,
      transparent 0,
      transparent 8px,
      #e0f6f6 0
    ),
    linear-gradient(90deg, #e0f6f6 1px, #d9f7f7 0, #d9f7f7 3px, #e0f6f6 0),
    linear-gradient(
      0deg,
      #cbefef 1px,
      transparent 0,
      transparent 8px,
      #cbefef 0
    ),
    linear-gradient(90deg, #cbefef 1px, #95cfcf 0, #95cfcf 3px, #cbefef 0),
    linear-gradient(
      0deg,
      #bee9e9 1px,
      transparent 0,
      transparent 10px,
      #bee9e9 0
    ),
    linear-gradient(90deg, #bee9e9 1px, #abd7d7 0, #abd7d7 3px, #bee9e9 0),
    linear-gradient(
      0deg,
      #95cfcf 1px,
      transparent 0,
      transparent 15px,
      #95cfcf 0
    ),
    linear-gradient(90deg, #95cfcf 1px, #8ccece 0, #8ccece 3px, #95cfcf 0),
    linear-gradient(
      0deg,
      #73ddde 1px,
      transparent 0,
      transparent 15px,
      #73ddde 0
    ),
    linear-gradient(90deg, #73ddde 1px, #6ddbdd 0, #6ddbdd 3px, #73ddde 0);
  background-repeat: no-repeat;
  background-size: 4px 9px, 4px 9px, 4px 9px, 4px 9px, 4px 9px, 4px 9px,
    4px 11px, 4px 11px, 4px 16px, 4px 16px, 4px 16px, 4px 16px;
  background-position: -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px,
    -4px 3px, -4px 2px, -4px 2px, -4px 0, -4px 0, -4px 0, -4px 0;
}

.home-container .match-header-component,
.home-container .match-header-detail {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-info
  .info-bet {
  color: #49b3b5;
}

.home-container .wrapper-bet-slip-bill .group-tab-bet-slip .each-tab {
  border: 1px solid #49b3b5;
  color: #49b3b5;
}

.home-container
  .wrapper-bet-slip-bill
  .group-tab-bet-slip
  .each-tab.active-tab {
  border: 1px solid #49b3b5;
  background-color: #49b3b5;
  color: #fff;
}

.home-container .bet-item-component-parlay {
  display: block;
}

.home-container
  .bet-item-component-parlay.bet-item-happening
  .bet-parlay-group
  .parlay-header
  .parlay-header-title {
  color: #49b3b5;
}

.home-container
  .bet-item-component-parlay.bet-item-happening
  .bet-parlay-group
  .parlay-header
  .parlay-header-content {
  border-left: 3px solid #49b3b5;
}

.home-container
  .bet-item-component-parlay.bet-item-happening
  .parlay-content
  .parlay-content-group {
  border: 1px solid #49b3b5;
}

.home-container
  .bet-item-component-parlay.bet-item-happening
  .parlay-content
  .parlay-content-group
  .parlay-each-item {
  border-bottom: 1px solid #49b3b5;
}

.home-container
  .bet-item-component-parlay.bet-item-waiting
  .bet-parlay-group
  .parlay-header
  .parlay-header-title {
  color: #ff8a00;
}

.home-container
  .bet-item-component-parlay.bet-item-waiting
  .bet-parlay-group
  .parlay-header
  .parlay-header-content {
  border-left: 3px solid #ff8a00;
}

.home-container
  .bet-item-component-parlay.bet-item-waiting
  .parlay-content
  .parlay-content-group {
  border: 1px solid #ff8a00;
}

.home-container
  .bet-item-component-parlay.bet-item-waiting
  .parlay-content
  .parlay-content-group
  .parlay-each-item {
  border-bottom: 1px solid #ff8a00;
}

.home-container
  .bet-item-component-parlay.bet-item-cancel
  .bet-parlay-group
  .parlay-header
  .parlay-header-title {
  color: #cd414e;
}

.home-container
  .bet-item-component-parlay.bet-item-cancel
  .bet-parlay-group
  .parlay-header
  .parlay-header-content {
  border-left: 3px solid #cd414e;
}

.home-container
  .bet-item-component-parlay.bet-item-cancel
  .parlay-content
  .parlay-content-group {
  border: 1px solid #cd414e;
}

.home-container
  .bet-item-component-parlay.bet-item-cancel
  .parlay-content
  .parlay-content-group
  .parlay-each-item {
  border-bottom: 1px solid #cd414e;
}

.home-container .wrapper-header {
  background-color: #232732;
}

.home-container .wrapper-header .header-component .date-time,
.home-container
  .wrapper-header
  .header-component
  .header-right-content
  .header-title
  .header-noti {
  color: #afb8ca;
}

.home-container .scroll-top {
  background-color: #00a3ff;
}

.home-container .bet-slip-type {
  background-color: #4786f7;
}

.home-container .bet-slip-empty {
  background-color: #242e41;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.home-container .bet-slip-empty .group-bet-slip-empty {
  background-color: #242e41;
  border: 1px solid #00a3ff;
  border-radius: 4px;
}

.home-container .bet-slip-empty .group-bet-slip-empty svg path {
  stroke: #73e6ff;
}

.home-container .bet-slip-empty .bet-empty-content {
  color: #b9bec5;
}

.home-container .bet-slip-value {
  background-color: #fff;
}

.home-container .bet-slip-value .bet-slip-content {
  background: linear-gradient(180deg, #2a4a62 80.21%, #232733) !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.home-container .bet-slip-value .bet-slip-content .bet-slip-header {
  background-color: #2a4a62;
  border: 1px solid #00a3ff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-title {
  color: #63baf9;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content {
  border-left: 3px solid #63baf9;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-match {
  color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result,
.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .ratio,
.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .result,
.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-header
  .bet-header-content
  .header-result
  .truss {
  color: hsla(0, 0%, 100%, 0.8);
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-info
  .content-league,
.home-container .bet-slip-value .bet-slip-content .bet-slip-info .content-team {
  color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .lb-money {
  color: #4786f7;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input {
  border: 1px solid #9399a4;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .border-input
  input {
  color: #4786f7;
  background: #2a4a62;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .clear-bet-input {
  background-color: #ececec;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-input
  .wrapper-input
  .clear-bet-input
  > svg
  path {
  fill: #999;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment {
  background-color: #2a4a62;
  border: 1px solid #9399a4;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment.payment-hight-light
  .val-payment {
  color: #2f9e1c !important;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment
  .lb-payment {
  color: #b9bec5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-payment
  .each-payment
  .val-payment {
  color: #4786f7;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment {
  background-color: #f5f5f5;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment
  .ref-payment {
  color: #626262;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .refund-payment
  .ref-money {
  color: #00a3ff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-cancel {
  color: #4786f7;
  background-color: #2a4a62;
  border: 1px solid #4786f7;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-bet-now {
  background-color: #4786f7;
  background: linear-gradient(83.86deg, #4786f7 32.69%, #73e6ff 109.47%);
  color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .bet-slip-footer
  .footer-group-button
  .btn-hover:hover {
  opacity: 0.9;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .bet-slip-value .bet-slip-content .accept-better-odds {
  color: #000;
}

.home-container .bet-slip-value .bet-slip-content .accept-better-odds span {
  border: 1px solid #4786f7;
  background-color: #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .accept-better-odds
  span:before {
  border: solid #fff;
}

.home-container
  .bet-slip-value
  .bet-slip-content
  .accept-better-odds
  input[type="checkbox"]:checked
  + span {
  background-color: #4786f7;
}

.home-container .bet-slip-table .group-bet-tab {
  border-bottom: 1px solid #242e41;
  background-color: #242e41;
}

.home-container .bet-slip-table .group-bet-tab .bet-slip-tab {
  color: #aab8c5;
}

.home-container .bet-slip-table .group-bet-tab .bet-slip-tab.bet-tab-active {
  color: #4786f7;
}

.home-container .bet-slip-table .bet-table-content {
  box-shadow: 0 2px 4px rgba(237, 237, 239, 0.1);
  background-color: #242e41;
}

.home-container .bet-slip-table .bet-table-content .bet-item-component {
  background-color: #242e41;
  border: 1px solid #121214;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting {
  border: 1px solid #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting.bet-border-cancel {
  border: 1px solid #cd414e !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting.bet-border-success {
  border: 1px solid #4786f7 !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title {
  background-color: #242e41;
  border: 1px solid #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-title {
  color: #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-content {
  border-left: 3px solid #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-title
  .item-content
  .item-content-title {
  color: #fff !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-waiting
  .bet-item-money
  .team-bet {
  color: #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title {
  background-color: #242e41;
  border: 1px solid #f13030;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-title {
  color: #f13030;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-content {
  border-left: 3px solid #f13030;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-title
  .item-content
  .item-content-title {
  color: #fff !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component.bet-item-cancel
  .bet-item-money
  .team-bet {
  color: #f13030;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title {
  background-color: #242e41;
  border: 1px solid #4786f7;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-title {
  color: #4786f7;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content {
  border-left: 3px solid #4786f7;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-title {
  color: #fff !important;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail,
.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .ratio,
.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .result,
.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-title
  .item-content
  .item-content-detail
  .truss {
  color: hsla(0, 0%, 100%, 0.8);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-match {
  color: #fff;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-id {
  color: hsla(0, 0%, 100%, 0.8);
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-item-component
  .bet-item-money
  .team-bet {
  color: #00a3ff;
}

.home-container .bet-slip-table .bet-table-content .message {
  color: #fff;
}

.home-container .bet-slip-table .bet-table-content .message-info.message-open {
  background-color: #d0e6f5;
  border: 1px solid #4786f7;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .message-info.message-cancel {
  background-color: #fdeeed;
  border: 1px solid #f13030;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-slip-waiting
  .waiting-text {
  color: #fffa9f;
}

.home-container
  .bet-slip-table
  .bet-table-content
  .bet-slip-waiting
  .waiting-icon {
  border-top: 3px solid #fffa9f;
}

.home-container .loading-placeholder-bet-slip .placeholder-wrap-item {
  background-color: #242e41;
  border: 1px solid #9daac3;
}

.home-container .error-bet-message {
  background-color: #fff;
}

.home-container .error-bet-message div {
  border: 1px solid #f13030;
  color: #f13030;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container .success-icon {
  background-color: #4786f7;
}

.home-container .success-icon .success-icon-left,
.home-container .success-icon .success-icon-right {
  background-color: #fff;
}

.home-container .cancel-icon {
  background-color: #f13030;
}

.home-container .cancel-icon .cancel-icon-left,
.home-container .cancel-icon .cancel-icon-right {
  background-color: #fff;
}

.home-container .bet-message-status.message-status-open {
  color: #4786f7;
}

.home-container .bet-message-status.message-status-cancel {
  color: #f13030;
}

.home-container .radio-accept-odds {
  color: #fff;
}

.home-container .radio-accept-odds [type="radio"]:checked + label:before,
.home-container .radio-accept-odds [type="radio"]:not(:checked) + label:before {
  border: 1px solid #4786f7;
  background-color: #fff;
}

.home-container .radio-accept-odds [type="radio"]:checked + label:after,
.home-container .radio-accept-odds [type="radio"]:not(:checked) + label:after {
  content: "";
  background-color: #4786f7;
}

.home-container .sport-menu-container .sport-menu-title {
  background-color: #e8fefe;
}

.home-container .sport-menu-container .sport-menu-title > div {
  color: #fff;
  background-color: #4786f7;
}

.home-container .sport-menu-container .sport-menu-tab {
  background-color: #4786f7;
}

.home-container .sport-menu-container .sport-menu-tab .period-item {
  color: hsla(0, 0%, 100%, 0.4);
}

.home-container
  .sport-menu-container
  .sport-menu-tab
  .period-item.active-period {
  color: #fff;
}

.home-container
  .sport-menu-container
  .sport-menu-tab
  .period-item.active-period:before {
  background-color: #fff;
}

.home-container .sport-menu-container .sport-menu-tab .period-item:hover {
  color: #fff;
}

.home-container .sport-type-item {
  background-color: #242e41;
}

.home-container .sport-type-item .sport-item-header .header-name,
.home-container .sport-type-item .sport-item-header .header-number {
  color: #fff;
}

.home-container .sport-type-item.active-type .sport-item-header,
.home-container .sport-type-item:hover .sport-item-header {
  background-color: #464f64;
  color: #fff;
}

.home-container .sport-item-content li {
  color: #fff;
}

.home-container .sport-item-content li.active-market,
.home-container .sport-item-content li:hover {
  color: #4786f7;
}

.home-container .sport-item-content li .sp-active {
  border-left: 5px solid #4786f7;
}

.home-container .tooltip-header {
  background-color: #131519;
}

.home-container .bg-white {
  background-color: #fff;
}

.home-container .bg-primary {
  background-color: #d0e6f5;
}

.home-container .btn-bet-more {
  background: linear-gradient(
    67.25deg,
    #4786f7 29.98%,
    #73e6ff 122.48%
  ) !important;
}

.home-container .main-color {
  color: #4786f7;
}

.home-container .main-betmore-bg {
  background-color: #7161d6;
}

.home-container .market-bg {
  background-color: #4786f7;
}

.home-container .color-header,
.home-container .color-header-detail,
.home-container .color-league-title {
  color: #fff;
}

.home-container .bg-league-blue {
  background-color: #4786f7;
}

.home-container .bg-color-or {
  background-color: #f5f5f5;
}

.home-container .bg-color-fad {
  background-color: #0a1856;
}

.home-container .color-hightlight {
  color: #c00300 !important;
}

.home-container .is-suspended-odds .odd-item-detail .odd-item .odd-val {
  color: hsla(0, 0%, 100%, 0.8) !important;
}

.home-container
  .is-suspended-odds
  .odd-item-detail
  .odd-item
  .odd-val.color-hightlight {
  color: rgba(192, 3, 0, 0.8) !important;
}

.home-container .color-black {
  color: #fff;
}

.home-container .color-is-markove {
  color: #fff0aa !important;
}

.home-container .style-header-child {
  color: #000 !important;
  background-color: #95c6ff !important;
}

.home-container .correct-score .main-correct-score .score-content {
  flex: 1 1 0%;
  background-color: #293040;
}

.home-container
  .correct-score
  .main-correct-score
  .score-content.score-content-loading {
  background-color: #232733 !important;
}

.home-container .main-odd-even {
  background-color: #293040;
}

.home-container .color-bet-title {
  color: #fff !important;
}

.home-container .bg-score-header {
  background-color: #0a1856;
}

.home-container .group-message-content .group-message-search {
  border-bottom: 2px solid #4786f7;
}

.home-container .wrap-checkbox .cb-title {
  color: #b9bec5 !important;
}

.home-container .wrap-checkbox .checkbox {
  border: 1px solid #4786f7;
  background-color: #fff;
}

.home-container .wrap-checkbox .checkbox.cb-checked {
  background-color: #4786f7;
}

.home-container .btn-save,
.home-container
  .correct-score-component
  .correct-score-group
  .match-component
  .merge-bet-more-score
  .betmore-score {
  border: 1px solid #4786f7 !important;
  background: linear-gradient(83.86deg, #4786f7 32.69%, #73e6ff 109.47%);
}

.home-container .btn-cancel,
.home-container .btn-reset {
  color: #4786f7;
  background-color: #2a4a62;
  border: 1px solid #4786f7;
}

.home-container .bet-confirm-component .confirm-payment-info {
  background-color: #223f54;
  border: 1px solid #9399a4;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info
  .payment-title {
  color: #b9bec5;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info
  .payment-money {
  color: #00a3ff;
}

.home-container
  .bet-confirm-component
  .confirm-payment-info
  .wrap-payment-info.no-border-bt {
  margin-bottom: 0;
}

.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon {
  background-color: #4786f7;
}

.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon
  .message-icon-left,
.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-icon
  .message-icon-right {
  background-color: #fff;
}

.home-container
  .bet-confirm-component
  .confirm-message-info
  .confirm-message-title {
  color: #fff;
}

.home-container .bet-confirm-component .btn-group-confirm .btn-cancel {
  color: #4786f7;
  background-color: #2a4a62;
  border: 1px solid #4786f7;
}

.home-container .bet-confirm-component .btn-group-confirm .btn-bet {
  background-color: #4786f7;
  background: linear-gradient(83.86deg, #4786f7 32.69%, #73e6ff 109.47%);
  color: #fff;
  outline: none;
}

.home-container .icon-favorite svg path {
  fill: #b9bec5;
}

.home-container .quickly-betting-container .pseudo-item {
  background-color: #2a4a62;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet {
  background-color: #232733;
  background: linear-gradient(180deg, #2a4a62 80.21%, #232733) !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info {
  background-color: #2a4a62;
  border: 1px solid #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .market-name {
  color: #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match {
  border-left: 3px solid #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-name {
  color: #fff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail,
.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .odd-val-bet,
.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .ratio,
.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-info
  .bet-match
  .odd-detail
  .result {
  color: hsla(0, 0%, 100%, 0.8);
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .lb-money {
  color: #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input {
  border: 1px solid #9399a4;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .border-input
  div {
  color: #4786f7;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .border-input
  input {
  color: #4786f7;
  background: #2a4a62;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .clear-bet-input {
  background-color: #ececec;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .action-input
  .wrap-input
  .clear-bet-input
  > svg
  path {
  fill: #999;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-bet-money
  .btn-money {
  background-color: #c1efef;
  border: 1px solid #4786f7;
  color: #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-bet-money
  .btn-max-money {
  background-color: #093;
  color: #fff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap {
  background-color: #f5f5f5;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap
  .payment-tilte {
  color: #626262;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .payment-wrap
  .payment-money {
  color: #00a3ff;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-btn-bet
  .btn-cancel-bet {
  color: #4786f7;
  background-color: #2a4a62;
  border: 1px solid #4786f7;
}

.home-container
  .quickly-betting-container
  .quick-bet-component
  .wrap-quick-bet
  .bet-action
  .group-btn-bet
  .bet-payment {
  background-color: #4786f7;
  background: linear-gradient(83.86deg, #4786f7 32.69%, #73e6ff 109.47%);
  color: #fff;
}

.home-container
  .search-popup-component
  .search-popup-content
  .search-popup-input
  .search-icon
  svg
  path {
  fill: #4786f7;
}

.home-container
  .search-popup-component
  .search-popup-content
  .search-popup-result
  .result-content
  .wrapper-result
  .result-group
  .result-item:hover {
  background-color: #9daac3;
}

.home-container .color-warning,
.home-container .lb-warning {
  color: #bf1616 !important;
}

.home-container .odd-empty {
  color: #fff;
}

.home-container [id^="odd-item"]:hover {
  background-color: #eaaf18 !important;
  color: #000 !important;
}

.home-container .bet-setting-popup-component .main-bet-setting .title-setting {
  color: #b9bec5;
}

.home-container
  .bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league
  .header-league
  input {
  border: 1px solid #727988;
  background-color: #113682;
  color: #b5bbc3;
}

.home-container
  .bet-setting-popup-component
  .main-bet-setting
  .display-league
  .group-league {
  border: 1px solid #727988;
}

.home-container .login-popup-component .login-popup-content .login-popup-note {
  color: #fff;
}

.home-container .login-popup-component .login-popup-content .login-popup-close {
  background-color: #0f337c;
}

.home-container
  .login-popup-component
  .login-popup-content
  .login-popup-close
  svg {
  width: 12px;
}

.home-container
  .sport-detail-container
  .handicap-ou-detail
  .header-detail
  h1
  svg
  path {
  stroke: #fff;
}

.home-container
  .sport-detail-container
  .handicap-ou-detail
  .header-detail
  .header-title {
  background-color: #293040;
}

.home-container
  .sport-detail-container
  .handicap-ou-detail
  .header-detail
  .header-title
  span {
  color: #fff;
}

.home-container .regular-match-bet .match-component.match-component-loading {
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .regular-match-bet
  .match-component
  .match-item.match-item-loading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .regular-match-bet
  .match-component
  .match-item.match-item-loading
  .match-column-title
  .match-row-title {
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .regular-match-bet
  .match-component
  .match-item.match-item-loading
  .match-column {
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .regular-match-bet
  .match-component
  .match-item.match-item-loading
  .match-column-title
  .match-row-title-empty {
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .regular-match-bet
  .match-component
  .merge-column
  .stop-page-time
  .stop-page-time-txt,
.home-container
  .regular-match-bet
  .match-component
  .merge-column
  .stop-page-time
  .stop-page-time-val {
  color: #093;
}

.home-container
  .regular-match-bet
  .match-component
  .merge-column
  .game-time
  .sp-game-time {
  color: #f89809;
}

.home-container .regular-match-bet .match-component .merge-column .live-match {
  color: #f32f1c;
}

.home-container
  .regular-match-bet
  .match-component
  .merge-column
  .live-hot-match {
  background-color: #f32f1c;
}

.home-container .bet-more-column {
  display: flex;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.home-container .border-bottom {
  border-bottom: 1px solid #000;
}

.home-container .correct-score {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.home-container .correct-score.correct-score-loading {
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container .correct-score .main-correct-score .score-header .header-item {
  color: #fffa9f;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.home-container
  .correct-score
  .main-correct-score
  .score-header
  .header-item.header-item-loading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container
  .correct-score
  .main-correct-score
  .score-content
  .wrap-odd-item
  .odd-score-item {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.home-container
  .correct-score
  .main-correct-score
  .score-content
  .wrap-odd-item
  .odd-score-item.odd-score-item-loading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.home-container .main-odd-even .each-odd-even {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.home-container .match-header-component .header-live,
.home-container .sport-menu-container .sport-menu-tab .period-item span,
.home-container .sport-type-item .sport-item-header .header-live {
  background-color: #f13030;
}

.home-container .loading-icon {
  border: 3px solid #f3f3f3;
  border-top-color: #4786f7;
}

.home-container .bg-loading,
.home-container .bg-loading-placeholder,
.home-container .loading-hover:hover,
.home-container .loading-hover:hover .merge-column {
  background-color: #232733 !important;
}

.home-container .group-message-content .message-content .message-main-content {
  border: 1px solid #727988;
}

.home-container .corner-list-content .wraper-content-corner {
  border: 1px solid #000;
}

.home-container
  .corner-list-content
  .wraper-content-corner
  .wrap-match-header-corner {
  color: #000 !important;
  background-color: #95c6ff !important;
}

.home-container
  .corner-list-content
  .wraper-content-corner
  .wrapper-match-component,
.home-container
  .corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .merge-column {
  background-color: #293040;
}

.home-container .not-found-component div {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: OpenSans-Regular, Helvetica;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #e5e5e5;
}

.loading-icon {
  border: 3px solid #f3f3f3;
  border-top-color: #4589c8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.loading-icon,
.waiting-icon {
  animation: spin 1s linear infinite;
}

.waiting-icon {
  border: 3px solid #ffeacb;
  border-top-color: #ffa113;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.lb-warning {
  font-weight: 700;
  font-style: normal;
}

.color-warning,
.lb-warning {
  color: #f13030;
}

.btn-focus {
  outline: 1px auto -webkit-focus-ring-color;
}

.hidden-sb {
  display: none !important;
}

.loader-facebook {
  zoom: 1;
  display: block;
  width: 16px;
  height: 10px;
  margin: 8px auto 0;
  animation: wait 0.8s step-start infinite;
  background: linear-gradient(
      0deg,
      #f4f5fa 1px,
      transparent 0,
      transparent 8px,
      #f4f5fa 0
    ),
    linear-gradient(90deg, #f4f5fa 1px, #f6f9fb 0, #f6f9fb 3px, #f4f5fa 0),
    linear-gradient(
      0deg,
      #ececf5 1px,
      transparent 0,
      transparent 8px,
      #ececf5 0
    ),
    linear-gradient(90deg, #ececf5 1px, #f2f3f9 0, #f2f3f9 3px, #ececf5 0),
    linear-gradient(
      0deg,
      #e7eaf4 1px,
      transparent 0,
      transparent 8px,
      #e7eaf4 0
    ),
    linear-gradient(90deg, #e7eaf4 1px, #eef1f8 0, #eef1f8 3px, #e7eaf4 0),
    linear-gradient(
      0deg,
      #b9bedd 1px,
      transparent 0,
      transparent 10px,
      #b9bedd 0
    ),
    linear-gradient(90deg, #b9bedd 1px, #d0d5e8 0, #d0d5e8 3px, #b9bedd 0),
    linear-gradient(
      0deg,
      #9fa6d2 1px,
      transparent 0,
      transparent 15px,
      #9fa6d2 0
    ),
    linear-gradient(90deg, #9fa6d2 1px, #c0c5e1 0, #c0c5e1 3px, #9fa6d2 0),
    linear-gradient(
      0deg,
      #8490c6 1px,
      transparent 0,
      transparent 15px,
      #8490c6 0
    ),
    linear-gradient(90deg, #8490c6 1px, #aeb5da 0, #aeb5da 3px, #8490c6 0);
  background-repeat: no-repeat;
  background-size: 4px 9px, 4px 9px, 4px 9px, 4px 9px, 4px 9px, 4px 9px,
    4px 11px, 4px 11px, 4px 16px, 4px 16px, 4px 16px, 4px 16px;
  background-position: -4px 3px, -4px 3px, -4px 3px, -4px 3px, -4px 3px,
    -4px 3px, -4px 2px, -4px 2px, -4px 0, -4px 0, -4px 0, -4px 0;
}

.ani-bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(90deg, #b9c0c7 8%, #e0e2e4 18%, #b9c0c7 33%);
  background-size: 1000px 100px;
}

.run-text {
  display: inline-block;
  white-space: nowrap;
  animation: runText 15s linear infinite;
}

.bg-white {
  background-color: #fff;
}

.bg-primary {
  background-color: #d0e6f5;
}

.main-color-bg {
  background-color: #e5e5e5 !important;
}

.main-color-bg-white {
  background-color: #eef4fa;
}

.main-color-bg-black {
  background-color: #164466;
}

.main-color {
  color: #4589c8;
}

.main-betmore-bg {
  background-color: #1b5993;
}

.market-bg {
  background-color: #367cbc;
}

.color-header,
.color-header-detail,
.color-league-title {
  color: #fff;
}

.bg-color-or {
  background-color: #f5f5f5;
}

.bg-color-odd {
  background-color: #eef4fa;
}

.bg-color-fad {
  background-color: #fff8f6;
}

.bg-color-even {
  background-color: #eef4fa;
}

.bg-color-ef {
  background-color: #ffeae7;
}

.color-hightlight {
  color: #f13030 !important;
}

.color-team-hight-light {
  color: #000 !important;
}

.color-black {
  color: rgba(0, 0, 0, 0.8);
}

.color-is-markove {
  color: #000 !important;
}

.style-header-child {
  color: #000;
  background-color: #eef4fa;
}

.color-bet-title {
  color: #fff;
}

.bg-score-header {
  background-color: #d5d8da;
}

.btn-hover:hover {
  opacity: 0.9;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.visibility-hidden {
  height: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
  border: 0 !important;
}

.visibility {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
}

.transition-out {
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  -o-transition: all 0.3s ease-out !important;
  -ms-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.transition-in {
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in !important;
  transition: all 0.3s ease-in !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.long-txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[id^="odd-item"]:hover {
  font-weight: 600;
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.is-suspended,
.is-suspended-odds {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.is-suspended-odds {
  position: relative;
}

.is-suspended-odds .odds-lock-icon {
  background: url(images/a3be950aaf0a86e4e36751a3940f9ea6.svg) no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.is-suspended-odds .odd-item-detail .odd-item .odd-val {
  color: rgba(0, 0, 0, 0.2) !important;
}

.lock-icon {
  background: url(images/a3be950aaf0a86e4e36751a3940f9ea6.svg) no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  cursor: "pointer";
}

.bg-loading-placeholder {
  background-color: #fff !important;
}

.loading-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-placeholder {
  background-color: #f7f9fa;
  opacity: 0.4;
  display: block;
  border-radius: 0;
}

.bg-loading,
.loading-hover:hover,
.loading-hover:hover .merge-column {
  background-color: #fff !important;
}

.loading-flex-item {
  flex: 1 1 0% !important;
}

.loading-header-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.group-bet-column {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.group-bet-column,
.odd-empty {
  display: flex;
  align-items: center;
}

.odd-empty {
  flex: 1 1 0%;
  justify-content: center;
}

.event-odd-col {
  flex: 1 1 0%;
  display: flex;
  height: 100%;
}

.no-border-top {
  border-top: 0 !important;
}

.no-border-bottom {
  border-bottom: 0 !important;
}

.no-border-left {
  border-left: 0 !important;
}

.no-border-right {
  border-right: 0 !important;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.center-flex {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
}

.center-txt {
  text-align: center;
}

.flex-bet-column {
  flex: 1 1 0%;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.flex-bet-column,
.flex-column {
  display: flex;
  align-items: center;
}

.flex-column {
  justify-content: center;
  flex-direction: column;
}

.no-match-page {
  width: 100%;
  text-align: center;
}

.no-match-page h1 {
  font-size: 40px;
}

.left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.total-goal-content.bg-loading-placeholder {
  display: flex;
}

.total-goal-content .total-goals-item {
  flex: 1 1 0%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.total-goal-content .total-goals-item .odd-total-goal {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.bet-more-column {
  display: flex;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-odd-even {
  display: flex;
  height: 30px;
  background-color: #fff;
}

.main-odd-even:hover {
  background-color: #ffeda4;
}

.main-odd-even .each-odd-even {
  flex: 1 1 0%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.main-odd-even .each-odd-even.last-odd-even {
  border-right: 0;
}

.corner-list-content .wraper-content-corner {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.corner-list-content .wraper-content-corner .wrap-match-header-corner {
  display: flex;
  background-color: #eef5f9;
  height: 30px;
}

.corner-list-content
  .wraper-content-corner
  .wrap-match-header-corner
  .match-header-corner {
  width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

.corner-list-content
  .wraper-content-corner
  .wrap-match-header-corner
  .match-header-corner
  .header-match {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 10 1 0%;
}

.corner-list-content
  .wraper-content-corner
  .wrap-match-header-corner
  .match-header-detail {
  flex: 1 1 0%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.corner-list-content
  .wraper-content-corner
  .wrap-match-header-corner
  .match-header-detail
  .match-detail-bottom
  .detail-row {
  color: rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.corner-list-content .wraper-content-corner .wrapper-match-component {
  position: relative;
  z-index: 1;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component {
  border: 0;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component:hover
  .merge-column {
  background-color: #ffeda4;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .merge-column {
  background-color: #fff;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-title {
  flex: none;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-title
  .match-row-title
  .row-title {
  width: 300px !important;
  max-width: 300px !important;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail,
.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail,
.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail
  .event-odd-col.event-odd-col-1x2 {
  border-right: 0;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail
  .each-column-detail {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail
  .each-column-detail.each-column-1x2
  .event-odd-item {
  align-items: center;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail
  .each-column-detail:last-child {
  border-right: 0;
}

.corner-list-content
  .wraper-content-corner
  .wrapper-match-component
  .match-component
  .match-column-detail
  .group-column-detail
  .each-column-detail
  .event-odd-item
  .odd-item-detail {
  width: 53px;
}

.winning-margin-list-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper-tab-filter {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 30px;
  margin: 4px 0;
  align-items: center;
  justify-content: flex-start;
}

.wrapper-tab-filter .tab-filter-bet {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
}

.wrapper-tab-filter .tab-filter-bet .each-item-filter {
  cursor: pointer;
  padding: 0 8px;
  display: flex;

  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.5);
  position: relative;
}

.wrapper-tab-filter .tab-filter-bet .each-item-filter.active-filter,
.wrapper-tab-filter .tab-filter-bet .each-item-filter:hover {
  color: #fff;
}

.wrapper-tab-filter .tab-filter-bet .each-item-filter.active-filter:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 80%;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.group-promotion {
  padding: 10px 0;
}

.promotion-mk-1x2,
.promotion-mk-oddeven,
.promotion-mk-totalscore {
  height: 64px !important;
}

.promotion-correct-score {
  height: 80px !important;
  flex-direction: column !important;
}

.promotion-correct-score .group-column-detail {
  width: 100% !important;
}

.promotion-correct-score .is-promotion-odds {
  position: relative !important;
}

.promotion-market-bm-score .is-promotion-odds {
  position: relative !important;
  left: 0;
  bottom: 0;
}

.promotion-betmore {
  background-color: #ffb907 !important;
}

.un-promotion {
  flex: 1 1 0%;
  display: flex;
  height: 100%;
}

.promotion-market {
  flex: 1 1 0%;
  display: flex;
  height: 100%;
  position: relative;
  background-color: #ffb907;
}

.promotion-market .is-promotion-odds {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  background-color: #ce2515;
  color: #ffb907;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
}

.promotion-market .is-promotion-odds svg {
  margin: 0 4px;
}

.promotion-market .is-promotion-odds svg path {
  fill: #ffb907;
}
