html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
body {
  margin: 0;
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
summary {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid silver;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}


.header {
  background-color: #21232a;
  position: sticky;
  z-index: 99999;
  top: 0;
}

.header-body {
  padding: 0px;
  position: relative;
  z-index: 1;
}


body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.25em;
  background: #fff;
  min-width: 1204px;
}

.header-body,
#nav,
#main,
.footer-inner,
.virtual-casino .section-head,
.virtual-casino .section-body {
  width: 1150px;
  margin: 0 auto;
}

#main {
  min-height: calc(100vh - 183px);
}

.bg-dark {
  background: #f6f6f6;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0;
  position: absolute;
  top: 24px;
  z-index: 9999999999;
}

.area-user .navbar-form {
  margin-top: 0px;
  padding: 0;
  width: auto;
  margin: 0;
}

.area-user .navbar-form .form-group {
  display: inline-block;
}

.area-user .form-control {
  height: 31px;
  width: 177px;
  font-size: 1em;
  line-height: 32px;
  padding: 3px 14px 3px;
  border: none;
  box-shadow: none;
  margin-right: 4px;
  background-color: #666;
  color: #fff;
  border-radius: 3px;
}

.area-user .form-control::-webkit-input-placeholder {
  color: #ccc;
}

.area-user .form-control:-ms-input-placeholder {
  color: #ccc;
}

.area-user .form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.area-user .form-control:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.area-user .btn {
  background-color: #ffb700;
  height: 31px;
  min-width: 110px;
  border: 0;
  font-size: 1em;
  padding: 3px 9px 3px;
  color: #000;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 26px;
}

.area-user a.btn {
  background-color: #67dfde;
  line-height: 26px;
  margin-left: 11px;
}

.area-user a.btn i.icon_user_register {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  margin-top: -3px;
  width: 18px;
  height: 21px;
  background: url(/assets/img/icon_user_register.png) no-repeat 0;
  background-size: cover;
  margin-right: 9px;
}

.area-support {
  height: 31px;
}

.area-support li {
  display: inline-block;
  margin-right: 15px;
  height: 31px;
  line-height: 31px;
}

.area-support li i {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  margin-top: -2px;
  margin-right: 9px;
  background-size: cover;
  background-position: 0;
}

.area-support li.item-skype i {
  background-image: url(/assets/img/icon_skype_1.png);
}

.area-support li.item-viber i {
  background-image: url(/assets/img/icon_viber_1.png);
}

.area-support li a {
  color: #ffb700;
  color: #ccc;
}

#menu {
  background-color: #ffb700;
  height: 44px;
}

#menu .navbar-nav {
  float: none !important;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 160px);
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  gap: 5px;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

.nav:after {
  content: none;
}

.nav:before {
  content: none;
}

#menu .navbar-nav > li {
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

#menu .navbar-nav > li:last-child {
  margin-right: 0;
}

#menu .navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
  padding: 11px 0 10px;
  font-weight: 600;
  font-size: 14px;
  height: 44px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
}

#menu .navbar-nav > li > a > i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

#menu .navbar-nav .icon-home a {
  padding-left: 20px;
  padding-right: 20px;
}

#menu .nav > li > a:focus,
#menu .nav > li > a:hover,
#menu .nav .active a {
  text-decoration: none;
  background: none;
  border-color: #21232b;
}

#menu .icon-home img {
  margin-top: -3px;
}

#main,
#main-extra {
  padding-top: 30px;
  padding-bottom: 1px;
}

.area-user {
  background: #21232a;
  padding: 13px 0 12px 69px;
  z-index: 999;
  display: flex;
  float: none !important;
  justify-content: flex-end;
  flex-wrap: nowrap;
  white-space: nowrap;
}


.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .navbar-form .form-control-static {
    display: inline-block;
  }

  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .navbar-form .input-group .form-control,
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn {
    width: auto;
  }

  .navbar-form .input-group > .form-control {
    width: 100%;
  }

  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .checkbox,
  .navbar-form .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .checkbox label,
  .navbar-form .radio label {
    padding-left: 0;
  }

  .navbar-form .checkbox input[type="checkbox"],
  .navbar-form .radio input[type="radio"] {
    position: relative;
    margin-left: 0;
  }

  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }

  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.pull-left {
  float: left !important;
}

.form-group {
  margin-bottom: 15px;
}

.form-control::-webkit-input-placeholder {
  color: #445058;
}

.form-control:-ms-input-placeholder {
  color: #445058;
}

.form-control::-moz-placeholder {
  color: #445058;
  opacity: 1;
}

.form-control:-moz-placeholder {
  color: #445058;
  opacity: 1;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}


.dropdown,
.dropup {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > a:hover {
  color: #777;
}

.dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav > li.disabled > a {
  color: #777;
}

.nav > li.disabled > a:focus,
.nav > li.disabled > a:hover {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:focus,
  .nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:focus,
.nav-tabs-justified > .active > a:hover {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:focus,
  .nav-tabs-justified > .active > a:hover {
    border-bottom-color: #fff;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }

  .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nav .open .dropdown-menu > li > a:hover {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }

  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:focus,
.navbar-default .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #333;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #555;
    background-color: #e7e7e7;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-link {
  color: #777;
}

.navbar-default .navbar-link:hover {
  color: #333;
}

.navbar-default .btn-link {
  color: #777;
}

.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover {
  color: #333;
}

.navbar-default .btn-link[disabled]:focus,
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:focus,
fieldset[disabled] .navbar-default .btn-link:hover {
  color: #ccc;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #080808;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:focus,
.navbar-inverse .navbar-nav > .disabled > a:hover {
  color: #444;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #333;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #080808;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-color: #080808;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #444;
    background-color: transparent;
  }
}

.navbar-inverse .navbar-link {
  color: #9d9d9d;
}

.navbar-inverse .navbar-link:hover {
  color: #fff;
}

.navbar-inverse .btn-link {
  color: #9d9d9d;
}

.navbar-inverse .btn-link:focus,
.navbar-inverse .btn-link:hover {
  color: #fff;
}

.navbar-inverse .btn-link[disabled]:focus,
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover {
  color: #444;
}


.have-sub .icon-new {
  right: -13px !important;
}

.icon-new {
  position: absolute;
  float: none !important;
  right: -17px !important;
  text-align: center;
  z-index: 3;
  width: 43px;
  color: #fff;
  padding: 6px;
  top: -12px;
  transform: rotate(-14deg);
  animation: labelEffect 2s linear infinite forwards alternate;
}


#nav li {
  display: block;
}

#nav li:hover {
  cursor: pointer;
  border-top: none;
  border-bottom: none;
}

#menu .navbar-nav > li.active > a:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  bottom: 0px;
  background: #000;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#menu .navbar-nav > li > a:after {
  content: "";
  height: 4px;
  width: 0%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  bottom: 0px;
  background: #292933;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#menu .navbar-nav > li:hover > a:after {
  content: "";
  width: 100%;
}

#menu .navbar-nav > li.mn-qs:hover > a:after {
  content: "";
  height: 4px;
  width: 0%;
  transition: all 0s linear;
}

#menu .navbar-nav > li.mn-qs > a:after {
  transition: 0s 0.7s;
}

#menu .navbar-nav > li#mn-kn:hover > a:after {
  content: "";
  height: 4px;
  width: 0%;
  transition: all 0s linear;
}

#menu .navbar-nav > li#mn-kn > a:after {
  transition: 0s 0.7s;
}

#menu .navbar-nav > li.mn-ld:hover > a:after {
  content: "";
  height: 4px;
  width: 0%;
  transition: all 0s linear;
}

#menu .navbar-nav > li.mn-ld > a:after {
  transition: 0s 0.7s;
}

#nav ul li.mn-qs ul li {
  text-align: left;
  padding-left: 20px;
}

#nav ul li.mn-ld ul li {
  width: 140px;
}

#nav ul li.mn-ld ul li a {
  padding: 10px 0px 10px 20px;
  display: block;
}

#nav ul li.mn-ld ul {
  text-align: left;
  width: 130px;
}

#nav ul li.mn-ld ul.dropdown:before {
  right: 41px;
}

#nav ul li ul {
  visibility: hidden;
  width: 140px;
  left: -9px;
  transition: 0s 0.7s;
  position: absolute;
  top: 44px;
  padding: 0;
  border-top: 0;
  text-align: center;
  background: transparent;
}

#nav ul li ul li:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

#nav ul li ul li:last-child:hover {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

#nav ul li ul .icon-new {
  position: absolute;
  transform: unset;
  font-size: 9px;
  right: 75px !important;
  animation: none;
  left: unset !important;
  top: 14px;
}

#nav ul li ul li:hover {
  background: #f19f35;
  border-bottom: 1px solid #e6c572;
  border-radius: 0;
  color: #fff;
}

#nav ul li ul li:hover a {
  color: #fff;
}

#nav ul li:hover > ul,
#nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  transition-delay: 0s;
}

#nav ul li ul li a {
  color: #000;
  padding: 10px 0px 10px 0px;
  display: block;
}

.arrow-down-menu {
  width: 10px;
  margin-left: 3px;
  margin-top: -2px;
  display: inline-block;
  height: 10px;
}

#nav ul li ul.dropdown:before {
  content: "";
  display: block;
  border-width: 6px 6px 0;
  border-style: solid;
  border-color: #ea9e3e transparent transparent;
  margin-left: -10px;
  position: absolute;
  border-top-width: 0;
  border-bottom-width: 6px;
  border-top-color: transparent;
  border-bottom-color: #ea9e3e;
  top: -6px;
  bottom: auto;
  right: 31px;
}

#nav ul li ul li {
  background: #ea9e3e;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  clear: both;
  width: 140px;
  position: relative;
  border-bottom: 1px solid #e6c572;
}

#nav ul li#mn-ev ul {
  width: 180px;
  right: 0;
  left: auto;
}

#nav ul li#mn-ev ul li {
  width: 180px;
}

#nav ul li#mn-ev ul.dropdown:before {
  right: 1px;
}

#nav ul li#mn-kn ul {
  width: 150px;
  left: -33px;
}

#nav ul li#mn-kn ul li {
  width: 150px;
}

#nav ul li#mn-kn ul.dropdown:before {
  right: 41px;
}


.regular-match-bet .league-component-out-right {
  position: relative;
}

.regular-match-bet .league-component-out-right .lock-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.regular-match-bet .league-component {
  display: block;
}

.regular-match-bet .league-component .league-header-component {
  display: flex;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

.regular-match-bet .league-component .league-header-component.league-gs {
  background-color: #eaaf18 !important;
}

.regular-match-bet
  .league-component
  .league-header-component.league-gs
  .box-league-icon {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/ff5d637e7cec5941080f4d9eca9df57e.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 130px;
}

.regular-match-bet
  .league-component
  .league-header-component.league-gs
  .box-league-icon
  .box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.regular-match-bet
  .league-component
  .league-header-component.league-gs
  .box-league-icon
  .box-logo
  svg {
  height: 18px;
}

.regular-match-bet .league-component .league-header-component .icon-arrow {
  border-left: 1px solid hsla(0, 0%, 100%, 0);
}

.regular-match-bet .league-component .league-header-component .icon-arrow span {
  opacity: 0.5;
}

.regular-match-bet
  .league-component
  .league-header-component.border-league-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.regular-match-bet .league-component .league-title-component {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  padding-left: 61px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-match-bet .wrapper-match-prematch-empty .league-component:last-child,
.regular-match-bet .wrapper-match-prematch .league-component:last-child {
  margin-bottom: 300px;
}

.bg-league-blue {
  background-color: #367cbc !important;
}

.home-container .bg-league-blue {
  background-color: #49b3b5;
}

.home-container .icon-arrow {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}

.home-container .icon-arrow span {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}


.icon-arrow {
  width: 20px;
  height: 100%;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-arrow.icon-back {
  font-size: 27px !important;
  border-right: 0;
}

.icon-arrow.icon-back span {
  transform: rotate(130deg);
  width: 10px;
  height: 10px;
  top: 0;
}

.icon-arrow span {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  transform: rotate(45deg);
  position: relative;
  top: -2px;
}

.icon-arrow.icon-arrow-close span {
  transform: rotate(-45deg);
}


.icon-favorite {
  display: block;
  cursor: pointer;
  z-index: 10;
  top: 8px;
  right: 5px;
  margin-right: 8px;
  opacity: 1;
}

.icon-favorite,
.icon-favorite svg {
  width: 15px;
  height: 15px;
}

.icon-favorite svg path {
  fill: #2a5176;
}

.icon-favorite.active-favorite {
  opacity: 1;
}

.icon-favorite.active-favorite svg path {
  fill: #f48008 !important;
}


.icon-view-detail {
  background-color: #ff8a00;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-view-detail svg {
  width: 10px;
}

.icon-live-stream {
  border: 1px solid #ff1616;
  padding: 3px 2px;
  border-radius: 3px;
  position: absolute;
  top: 32px;
  right: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-live-stream svg {
  width: 11px;
}

.icon-cashout {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 29px;
  right: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cashout.has-live-stream {
  right: 4px;
}

.icon-cashout svg {
  width: 18px;
}





