.login-logo {
    max-width: 100px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
div.message-box {
    text-align: center;
    margin: 5px 0;
}
.formError {
    border: 1px solid #EF4646 !important;
}
.globalHeader-unit{
    background: #3F4446 !important;
}
.globalHeader-logout {
    border: 1px solid #ffffff !important;
}
.change-status-on .formToggle-btn {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 23px;
    background: #005DAD;
    transition: all .2s .1s, right .1s
}
.change-status-on .formToggle-on {
    color: #ffffff;
    transition: color .3s .15s;
}
.change-status-off .formToggle-btn {
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 64px;
    width: 20px;
    background-color: #BEC4C7;
    border-radius: 10px;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    cursor: pointer;
}
.change-status-off .formToggle-off {
    right: 10px;
    color: #BEC4C7;
}
.tableAction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px 0 0;
}
.tableAction-item {
    margin-right: 10px;
}
.mw-130 {
    min-width: 130px!important;
}
.mw-160 {
    min-width: 160px!important;
}
.tableScroll{
    overflow-x: scroll;
}
.d-none {
    display: none;
}

.form-change-point .block-input{
    display: flex;
    align-items:center;
}
#user-code{
    font-weight: bold;
}
.custom-message-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
}
.click-poup {
    cursor: pointer;
    color: #00A7FF;
}
.js-close-popup {
    color: #d8d6d6;
    cursor: pointer;
}
.custom-message-error .custom-error{
    flex-direction: column;
    place-items: flex-start;
}
.color-row{
    background: #EFF1F4;
}
.alert_err {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.panelFooter {
    border-top: none;
}
.color-row{
    background: #EFF1F4;
}
.alert_err {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.log_page .formSelect {
    display: inline-block;
    width: 100px;
}
#view_list_log {
    height: 500px;
    overflow: auto;
    padding-right: 15px;
    max-width: 100%;
}
.custom-width-modal{
    width: 80%;
    max-width: none !important;
    max-height: 85%;
    border-radius: 0 !important;
}
.panelFooter {
    border-top: none;
}
.check-error-status{
    display: none;
}



.js-modal {
    width: 80%;
    max-width: none !important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert_err {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-suc{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.success{
    background-color: #ffffd0;
}

#message-change-status{
    font-weight: bold;
}
.custom-scroll-header{
    position: fixed;
    top: 0;
    left: 17px;
    right: 17px;
    z-index: 10;
    background: white;
}
.custom-scroll-footer{
    position: fixed;
    bottom: 0;
    left: 17px;
    right: 17px;
    z-index: 10;
    background: white;
}
.custom-scroll-body{
    margin-top: 60px;
    margin-bottom: 80px;
}
#show-line-fail p{
    margin-top: 5px;
}

.formInput[disabled]:before {
    border-color: #BEC4C7;
}

input[disabled],
select[disabled]{
    background: #eee;
}
.js-push .iziModal-wrap {
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.alert_err {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #00ba54;
    background-color: #c2edd6;
    border-color: #41fa94;
}

.mw-140 {
    min-width: 140px!important;
}

.scroll-auto {
    overflow: auto;
}
.formToggle-off-custom,.change-status-off .formToggle-off-custom{
    right: 4px;
}
.ticket-toogle{
    display: flex;
    justify-content: center;
}
.max-100{
    width: 80px;
}
.tableInfo-item {
    margin: 0 10px 0 0 !important;
}
.miw-100{
    min-width: 100px;
}
.btn_vendor_login {
    cursor: pointer;
}
.fz-50{
    font-size: 50px !important;
}
.fz-20{
    font-size: 20px !important;
}
.text_des{
    position: absolute !important;
    bottom: 0 !important;
}
.lh-40{
    line-height: 40px !important;
}
.h-200{
    height: 130px !important;
}
.pdt-40{
    padding-top: 40px !important;
}
.mg-0{
    padding: 0 !important;
}
.ui-datepicker-close{
    display: none !important;
}
.ui-datepicker-current{
    display: none !important;
}
.mgr-30{
    margin-right: 30px !important;
}

#show-orderDetail {
    display: none;
    width: 80%;
    max-width: none !important;
    max-height: 85%;
    border-radius: 0 !important;
}
.content_order {
    min-width: 40%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.content_product {
    border: 1px solid #cdcdcd;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-detail {
    border-top: 1px solid #cdcdcd;
    overflow: scroll;
}
.border_modal {
    border: 1px solid #cdcdcd;
}
.text-tax-order {
    min-height: 0px;
}
.show_total {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}
.modail-mail-cancel{
    width: 1000px !important;
    max-width: 1000px !important;
}
.mail_cancel_order_text{
    width: 100% !important;
    height: 300px !important;
    cursor: context-menu !important;
    overflow-x: scroll !important;
}
.formLabelUser {
    width: 150px !important;
}
.word-break{
    word-break: break-all !important;
}
.mgb-5{
    margin-bottom: 5px !important;
}
.mgt-10{
    margin-top: 10px;
}
.disabled{
    pointer-events: none !important;
    cursor: context-menu !important;
}
.pager-num-input-ct {
    width: 50px;
    height: 30px;
    text-align: center;
}
.label-unit {
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 10px;
}
.code-product {
    border: 0px;
    background-color: #eff1f400;
}

.tag-content ul{
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
    background-color: #fff;
}
.tag-content ul  li{
    color: #fff;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    border: #3f4446;
    background: #3f4446;
    padding: 5px 8px 5px 10px;
    border-radius: 3px;
}
.tag-content ul li i{
    color: #ffffff;
    margin-left: 8px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center
}
.tag-content ul input{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}
.input-order-setting {
    width: 50px;
 }

.password-store-custome:focus::placeholder {
    color: transparent;
}

.password-store-custome::placeholder {
    color: #4f4f4f; !important;
}

.icon-link{
    color: #000000 !important;
}

.icon-link:visited{
    color: #000000 !important;
}
